
  <section class="message">
    <p>Facebookを使うと、友達や同僚、同級生、仲間たちとつながりを深められます。ケータイ、スマートフォンからもアクセスできます。</p>
    <img src="https://www.facebook.com/rsrc.php/v3/yx/r/pyNVUg5EM0j.png">
  </section>
  <section class="about">
    <h1>アカウント登録</h1>
    <p>ログインフォーム</p>
  </section>
