<p>Hello <%= @resource.email %>!</p>

<p>下記リンク先からパスワードを変更してください。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに見覚えがなければ、無視してください。</p>
<p>リンク先から変更しない限り、あなたのパスワードは変更されません。</p>
